<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuz.magicCamera.dao.SysUserDao" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.liuz.magicCamera.entity.SysUser" >
    </resultMap>

<select id="getUserList" resultMap="BaseResultMap" parameterType="object">
    SELECT
        *
    FROM
        sys_user
    WHERE
        1=1
</select>

</mapper>
